#col-1{
    background-color: rgb(134 37 51);
    min-height: 100vh;
}
#homepage_student #applicants_block{
    height: 400px; 
    background-color: #f0f0f0;
    overflow-y: auto;
}
#homepage_student #homepage-row{
    margin:0;
    padding:0;
    height: 100vh;
}