<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "index.css"/>
    <title>Emerging Scholar</title>
</head>
<body>
    <!---Web page -->
    <div class="div_login"> 

        <!---Login Box in the middle of the page -->
        <div id = "login_box">

            <!---The first part of the login box that contains the logo of ULM-->
            <div class="login_box_logo"> 
                <img src="../Images/ulm_logo.png" alt="ULM logo" class = "ulm_logo"/>
            </div>

            <!---The second part of the login box that contains the form-->
            <div class = "login_form">

                <!--- HTML Form for the email and password -->
                <form action="" id = "login_form_box">

                    <label for="warhawks_email"> Warhawks Email</label><br>
                    <input type="email" id = "warhawks_email" name = "w_email">

                    <label for="password" class= "password_label"> Password</label><br>
                    <input type="password" id = "warhawks_password" name = "w_password">

                    <button type = "submit" id = "submit_form"> Continue </button>
                </form>
            </div>

            <!---The last part of the login form that directs the user to go to page that contains the signup or forgot password page. -->
            <div class="form_sign">
                <div class = "form_sign_text"> <span id = "forgot_password" onClick = "goToForgotPassWord()" >Forgot Password </span></div>
                <div id = "new_account">
                    Need a new account ? 
                    <span id = "signup_ref" onClick = "GoToSignUp()"> Sign Up</span>
                </div>
            </div>
        </div>
    </div>
    <script src = "index.js"></script>
</body>
</html>