#login_box{
    position: absolute;
    width: 100%;;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
}


/** Login Box top part that contains the logo of ULM */
.login_box_logo{
    background-color: rgb(134 37 51);
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ulm_logo{
    display: block;
    margin: 0px auto;
    max-width: 280px;
    max-height: 60px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.start_semester .form-input{
    max-width: 200px;
    text-align: center;
}