body,
html {
  margin: 0;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

/** Login Page (Whole) */
.div_login {
  background-image: url("../../public/images/ulm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/** Login Box that is in the middle of the page */
#login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

/** Login Box top part that contains the logo of ULM */
.login_box_logo {
  background-color: rgb(134 37 51);
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/** ULM logo */
.ulm_logo {
  display: block;
  margin: 0px auto;
  max-width: 280px;
  max-height: 60px;
  width: auto;
  height: auto;
  cursor: pointer;
}

/** Login Box bottom part that contains the form for the login */
#login_form_box {
  position: relative;
  padding: 50px 50px 25px;
  height: 100%;
  overflow-wrap: break-word;
}

#error_div {
  width: 100%;
  height: 2rem;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#success_div {
  width: 100%;
  height: 2rem;
  background-color: rgb(40, 162, 40);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/** Creating the css for the input element. */
#login_form_box input {
  font-size: 16px;
  color: rgb(78, 81, 81);
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(222, 224, 224);
  border-radius: 2px;
  padding: 2px 10px;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 24px;
}

#submit_form {
  height: 50px;
  width: 100%;
  font-size: 18px;
  background-color: rgb(88, 89, 89);
  color: white;
  border: none;
  border-radius: 0.3rem;
}

/** Effect to the submit button */
#submit_form:hover {
  cursor: pointer;
  background-color: rgb(88, 80, 90);
}

/* This is for the form_sign part in the html that contains the sign up part*/
.form_sign {
  padding: 10px;
}
.form_sign_text {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.form_sign #forgot_password,
.form_sign #new_account #signup_ref {
  margin-left: 2px;
  color: rgb(7 118 157);
}
.form_sign #new_account #signup_ref:hover,
.form_sign #forgot_password:hover {
  color: rgb(12, 171, 233);
  cursor: pointer;
}
.form_sign #new_account {
  display: flex;
  justify-content: center;
}

/** Signup page CSS*/

body,
html {
  margin: 0;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.div_signup {
  background-image: url("../../public/images/ulm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#signup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  background-color: rgba(
    255,
    255,
    255
  ); /* Background color with transparency */
  display: flex;
  flex-direction: column;
}
